extends ../app/pages/_layout

block styles
  link(rel='stylesheet', href='../components/mocha/mocha.css')

block contents
  #mocha

block scripts
  script(src='test_vendor.js')
  script(type='text/javascript')
    mocha.setup('bdd')
  script(src='test.js')
  script(type='text/javascript')
    $(document).ready(function() { mocha.run(); });
