extends ../app/pages/_layout

block styles
  link(rel='stylesheet', href='../../components/mocha/mocha.css')

block contents
  #mocha

block append scripts
  script(src='javascripts/test_vendor.js')
  script(type='text/javascript')
    mocha.setup('bdd')
  script(src='javascripts/test.js')
  script(type='text/javascript')
    $(document).ready(function() { mocha.run(); });
